
@media screen and (max-width: 320px) {
    .form__input {
     flex-direction: column;
     align-items: center;
    }

    .inputForm {
        width: 100%;
        margin-top: 10px;
    }
    
    .calendario{
        order: -1;
    }
    
    .btnCreate {
        width: 90%;
    }


}


@media screen and (max-width: 400px) {
    
 .title{
    margin-top: 10px;
 } 

 .mainCard {
    width: 96vw;
    min-width: 250px;
    background-color: var(--bg-azul-oscuro);
    padding: 5px;
  }
 

  .footer {
    width: 96vw;
    min-width: 250px;
  }
  

}